@charset "utf-8";

.slideshow-container {
  position: relative;

}

/* Slides */
.mySlides {
  display: none;
  padding: 80px;
  text-align: center;
}
.mySlides q{color:#fff}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
 
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/*

/* The dot/bullet/indicator container */
.dot-container {
    text-align: center;
    padding: 20px;
 
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  
  border-radius: 50%;
  display: inline-block;

}



/* Add an italic font style to all quotes */
q {font-style: italic;}

/* Add a blue color to the author */
.author {color:#f60;}/* CSS Document */

